<div class="row text-center">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <ul class="list-group">
            <li class="list-group-item list-group-item-success">加入我们：</li>
            <li class="list-group-item">全栈工程师</li>
            <li class="list-group-item">创意设计师</li>
            <li class="list-group-item list-group-item-info text-center">
                <a href="mailto:jackongc@gmail.com" class="btn btn-info">邮件联系</a>
            </li>
        </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <ul class="list-group">
            <li class="list-group-item list-group-item-success">合作：</li>
            <li class="list-group-item">诚意</li>
            <li class="list-group-item">信任</li>
            <li class="list-group-item list-group-item-info text-center">
                <a href="mailto:jackongc@gmail.com" class="btn btn-info">邮件联系</a>
            </li>
        </ul>
    </div>
</div>