<!-- Jumbotron -->
<div class="jumbotron">
    <h1>量身定制</h1>
    <p class="lead">量身打造您的专属“武器”</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">查看详情</a></p>
</div>

<div class="row">
    <div class="col-lg-4">
        <h2>工具</h2>
        <p>针对性的强制式推广</p>
        <p><a class="btn btn-primary" href="#" role="button">了解详情 &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>游戏</h2>
        <p>娱乐性的广告式推广</p>
        <p><a class="btn btn-primary" href="#" role="button">了解详情 &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>应用</h2>
        <p>助你打通互联网事业</p>
        <p><a class="btn btn-primary" href="#" role="button">了解详情 &raquo;</a></p>
    </div>
</div>